{
  "apps": [
    {
      "serverURL": "https://{{ parse_server_dns }}/parse",
      "appId": "{{ parse_app_id }}",
      "masterKey": "{{ parse_master_key }}",
      "appName": "{{ parse_dashboard_app_name }}"
    }
  ],
  "users": [
    {
      "user":"{{ parse_dashboard_user }}",
      "pass":"{{ parse_dashboard_password }}"
 }  ]
}
