{{ logger_log_dir }}/*.log
{{ logger_log_dir }}/*/*.log
{
        rotate 14
        daily
        missingok
        notifempty
        delaycompress
        compress
        postrotate
                reload rsyslog >/dev/null 2>&1 || true
        endscript
}
